body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    text-align: center;
    margin-top: 50px;
}

.logo img {
    max-width: 200px;
    
}

.container {
    display: flex;
    align-items: center;
}
img{
    margin-right: 20px;
}

    

/* Estilização do formulário */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    