body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    text-align: center;
    margin-top: 50px;
}

.logo img {
    max-width: 200px;
}

.container {
    margin-top: 30px;
    
}

.container {
    display: flex; /* Usa flexbox para alinhar a imagem e o texto lado a lado */
    align-items: flex-start; /* Alinha os itens ao topo */
}

.imagem {
    width: 400px; /* Largura da imagem */
    height: 300px; /* Altura da imagem */
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.texto {
    flex: 1; /* Faz o texto ocupar o espaço restante ao lado da imagem */
    text-align: justify; /* Justifica o texto */
}

/* Estilização do formulário */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
